QWidget {
    font-size: 10pt;
}
QMainWindow {
    min-width: 1000px;
    min-height: 650px;
}
QPushButton {
    padding: 6px 10px;
}
QLineEdit, QListWidget, QTableView {
    padding: 4px;
}
QTableView {
    gridline-color: palette(mid);
}
QHeaderView::section {
    padding: 6px;
}
